extends layout

block content

  table(class="ui celled table")
    thead
      tr
        th Name
        th Phone
        th Address
        th # Orders
      tbody
      each customer in customers
        tr(onclick="customerModal(this)" data-customer=customer)
          td
            =customer.name
          td
            =customer.phone
          td
            =customer.address
          td
            =customer.count
      tfoot
        tr
          th(colspan="6")
            div(class="ui right floated pagination menu")
              a(class="icon item")
                i(class="left chevron icon")
              a(class="item") 1
              a(class="item") 2
              a(class="item") 3
              a(class="icon item")
                i(class="right chevron icon")

                div(class="ui modal")
                  i(class="close icon")
                  div(class="header", id="orderModalHeader")

                  div(class="image content", id="orderModalContent")
                    div(class="ui medium image")
                    div(class="description")
                      div(class="ui header, order-content")
                  div(class="actions")
                    div(id="orderModalFooter")
                    div(class="ui positive right labeled icon button") Call
