extends layout

block content
  div(class="order-sidebar")
    div(class="ui cards")
      div(class="card" id="7202660754-order-card" style="display: none;")
        div(class="content")
          div(class="header") Keiichi Lindley
            span(class="order-card-delivery-method") Delivery
          div(class="meta") 4731 South Bannock Street, Englewood Colorado 80110
          div(class="description") 1 Fire Calzone, (Small). Choice of Sauce: Hot. $10.49
        div(class="extra content")
          div(class="ui two buttons")
            div(class="ui basic green button") Approve
            div(class="ui basic red button") Decline
  table(class="ui celled table")
    thead
      tr
        th Name
        th Phone
        th Address
        th # Orders
      tbody
      each customer in customers
        tr(onclick="customerModal(this)" data-customer=customer data-phone=customer.phone id=customer.phone)
          td
            =customer.name
          td
            =customer.phone
          td
            =customer.address
          td
            =customer.count
      tfoot
        tr
          th(colspan="6")
            div(class="ui right floated pagination menu")
              a(class="icon item")
                i(class="left chevron icon")
              a(class="item") 1
              a(class="item") 2
              a(class="item") 3
              a(class="icon item")
                i(class="right chevron icon")

                div(class="ui modal")
                  i(class="close icon")
                  div(class="header", id="orderModalHeader")

                  div(class="image content", id="orderModalContent")
                    div(class="ui medium image")
                    div(class="description")
                      div(class="ui header, order-content")
                  div(class="actions")
                    div(id="orderModalFooter")
                    div(class="ui positive right labeled icon button") Call
