extends layout

block content
  table(class="ui celled table")
    thead
      tr
        th Date
        th Order
        th Type
        th Total
        th Customer
        th Phone
        th Address
      tbody
      each order in orders
        tr(onclick="orderModal(this)" data-order=order)
          td
            div(class="ui ribbon label")
              h4
                =order.date
          td
            =order.code
          td
            =order.type
          td
            b
              ='$'+order.order.receipt[order.order.receipt.length-1].split('$')[1]
          td
            =order.customer.name
          td
            =order.customer.phone
          td
            b
              =order.customer.address.replace('Pickup','------------------------')
      tfoot
        tr
          th(colspan="6")
            div(class="ui right floated pagination menu")
              a(class="icon item")
                i(class="left chevron icon")
              a(class="item") 1
              a(class="item") 2
              a(class="item") 3
              a(class="icon item")
                i(class="right chevron icon")

                div(class="ui modal")
                  i(class="close icon")
                  div(class="header", id="orderModalHeader")

                  div(class="image content", id="orderModalContent")
                    div(class="ui medium image")
                    div(class="description")
                      div(class="ui header, order-content")
                  div(class="actions")
                    div(id="orderModalFooter")
                    div(class="ui black labeled icon deny button") Cancel
                    div(class="ui positive right labeled icon button") CONFIRM
                    i(class="checkmark icon")
