extends layout


block content
  div(class="container-flud")
    div(class="row search-results")
      div(id="the-basics" class="col-md-9 col-md-offset-1 form-group")
        input(class="typeahead form-control" type="text" placeholder="Customer Orders")
